<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Login Proxy</display-name>

  <!-- Ical servlet -->
  <servlet>
    <servlet-name>ical</servlet-name>
    <servlet-class>org.buni.meldware.calendar.web.icalendar.ICalendarServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <!-- Standard Action Servlet Mapping -->

  <servlet-mapping>
    <servlet-name>ical</servlet-name>
    <url-pattern>*.ics</url-pattern>
  </servlet-mapping>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>ICal files</web-resource-name>
      <description>All generated iCal file</description>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>calendaruser</role-name>
    </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>meldware</realm-name>
  </login-config>

  <security-role>
    <role-name>calendaruser</role-name>
  </security-role>

</web-app>
