#blogHeader {
    white-space: nowrap;
    padding: 10px;
}

#blogTitle {
    float: left;
    font-size: 145%;
    font-weight: bold;
}

#blogTotalEntries{
    text-align: right;
    font-size: 85%;
    font-weight: bold;
}

.blogEntry {
    background: #fff url(#{themePath}/img/th.bg.inverse.gif) 0 0 repeat-x;
    margin-bottom: 10px;
    margin-top: 10px;
}

.blogEntryHeader {
    padding: 10px;
    border-top: 1px solid #87786e;
    border-left: 1px solid #87786e;
    border-right: 1px solid #87786e;
}

.blogEntryTitle {
    font-size: 110%;
    margin-bottom: 5px;
    font-weight: bold;
}

.blogEntryCreatedOnText {
    font-size: 85%;
    font-weight: normal;
}

.blogEntryLinks {
    float: right;
    font-size: 85%;
    font-weight: bold;
}

.blogEntryBody {
    padding-left: 10px;
    padding-right: 10px;
}

.blogEntryFooter {
    border-left: 1px solid #87786e;
    border-bottom: 1px solid #87786e;
    border-right: 1px solid #87786e;
    padding: 10px;
}
