#breadcrumb {
	text-align: left;
	font-size: 75%;
	font-weight: bold;
}

#breadcrumb .itemLink{
	color: #C7B299;
	text-decoration: none;
	padding-left: 2px;
	padding-right: 2px;
}

#breadcrumb .itemSeparator {
	font-size: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

#breadcrumb .itemText {
    color: #fff;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
}