.commentColumn {
    padding: 5px;
}

.commentSubject {
    font-weight: bold;
    font-size: 100%;
    text-decoration:none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    float: left;
}


.commentAuthorDate {
    text-align:right;
    font-size: 95%;
}

.commentAuthor {
}

.commentDate {
}

.commentText {
    
}

.commentForm {
    margin-top: 10px;
}
