.teaserColumn {
    padding: 10px;
}

.teaserTitle {
    font-size: 120%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.teaserAuthorDate {
    float: right;
    font-size: 100%;
    text-align: right;
}

.teaserAuthor {
}

.teaserAuthorLink {
    color: #962325;
    text-decoration: none;
}

.teaserDate {
}

.teaserBody {
    font-size: 110%;
    line-height: 150%;
    text-align:justify;
}