.teaserColumn {
    padding: 5px;
}

.teaserTitle {
    font-weight: bold;
    font-size: 100%;
    text-decoration:none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}


.teaserAuthorDate {
    text-align:right;
    font-size: 95%;
}

.teaserAuthor {
}

.teaserDate {
}