.teaserColumn {
    padding: 10px;
}

.teaserTitle {
    padding-top: 15px;
    padding-bottom: 15px;
}

.teaserAuthorDate {
    float: right;
    text-align: right;
}

.teaserAuthor {
}

.teaserAuthorLink {
    color: #962325;
    text-decoration: none;
}

.teaserDate {
}

.teaserBody {
    line-height: 150%;
    text-align:justify;
}