.topicControlsContainer {
    text-align: right;
    white-space: nowrap;
}

.topicFormContainer {
}

.topicTableContainer {
}

.topicPager {
    width: 100%;
}

.topicPagerTable {
    width: 100%;
    font-size: 85%;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    text-align: center;
}

.topicPagerColumn {
    width: 10%;
}
.topicPagerTextColumn {
    width: 60%;
}

.topicGotoIcon {
    margin-left: 5px;
    margin-right: 5px;
}

.forumsFeedLink {
    margin: 10px;
    float: right;
    margin-top: -30px;
}

.forumsFeedLink img {
    vertical-align: middle;
    margin-right: 5px;
}

.userInfoPopupContainer {
    text-align: left;
}

.forumDescription {
    text-align: left;
}