#languageSelector {
	text-align: right;
	font-weight: bold;
}

#languageSelector .languageSelectorLink {
	color: #C7B299;
	text-decoration: none;
	padding-left: 2px;
	padding-right: 2px;
}

#languageSelector .languageSelectorSeparator {

}