/* Setup defaults since variable in browsers

dd, dt, dl, img, ul, ol, li, p, h1, h2, h3, h4, h5,
----------------------------------------------- */
body, div, form, hr, fieldset {
	margin: 0;
	padding: 0;
}
/* Element Defaults
----------------------------------------------- */
html {
	height: 100%;
	background-color: #DBD4C6;
	margin: 0;
	padding: 0;
}
img {
	border: 0;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	line-height: 1.25em;
	margin: 0;
	padding: 0;
}
label {
	color: #000000;
}
input, textarea, select {
	border: 1px solid #C3BBB6;
    background: #fff url(../img/input.bg.gif) 0 0 no-repeat;
    font-size: 85%;
    padding: 2px;
    font-family: Andale Mono, Courier New, monospace;
}
ol, ul {
	margin: 10px 0 10px 6px;
}
li {
	margin: 10px 12px;
}
fieldset {
	border: 0;
}

a {
    color: #962325;
    text-decoration: none;
}

a:visited {
    color: #666;
}

/* Layout
----------------------------------------------- */
#screen {
	background-color: #fff;
	width: 100%;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #C3BBB6;
}
#header {
    background: #362f2d url(../img/hdr.bg.gif) 0 0 repeat-x;
	color: #fff;
    padding: 10px;
}
#headerTopLeft {
    float: left;
    margin-bottom: 5px;
}
#headerTopRight {
    text-align: right;
    margin-bottom: 5px;
}
#headerBottomLeft {
    clear: both;
    float: left;
}
#headerBottomRight {
    text-align: right;
}

#sidebar {
    background-color: #fff;
	float: left;
	width: 15%;
}
#body {
    background-color: #fff;
	margin-left: 15%;
}

#control {
    background-color: #362f2d;
    text-align: right;
    vertical-align:bottom;
}

#controlLeft {
    float: left;
    padding-left: 15%;
    white-space: nowrap;
}

#controlRight {
    padding-right: 15px;
}

#controlSeparator {
    clear:both;
    background-color: white;
    height: 1px;
    font-size: 1px;
}

#content {}

#footer {
	clear: both;
	padding: 10px;
	background-color: #eee;
	text-align: right;
}


/* Header
----------------------------------------------- */
#header .screenname {
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: large;
	color: #fff;
}



/* Sidebar
----------------------------------------------- */

/* Messages
----------------------------------------------- */

#messageBox {
    background-color: #87786e;
    width: auto;
}
.infoMessage {
    font-size: 85%;
    font-weight: bold;
    color: #fff;
}

.infoImage {
    vertical-align: text-top;
    padding-left: 10px;
    padding-right: 10px;
}

.attentionImage {
    vertical-align: text-top;
    padding-left: 12%;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.attentionMessage {
    font-size: 85%;
	color: #600;
}

#messageBox .attentionImage {
    vertical-align: text-top;
    padding-left: 10px;
    padding-right: 10px;
}

#messageBox .attentionMessage {
    font-size: 85%;
    font-weight: bold;
    color: #fff;
}

/* General
----------------------------------------------- */

.documentDisplay {
    padding-left: 10px;
    padding-right: 10px;
}

.attachmentDisplay {
    padding-top: 10px;
    padding-bottom: 10px;
    clear:both;
}

.regularLink{
    text-decoration: underline;
}

.brokenLink {
    color: #ff0000;
    text-decoration: line-through;
    font-style: italic;
}

.addedText {
    background-color: lightgreen;
}

.deletedText {
    background-color: lightcoral;
}

.button {
    background: #fff url(../img/btn.bg.gif) 0 0 repeat-x;
    padding: 2px 5px 2px 5px;
    margin: 0 5px 0 5px;
}

.buttonNonpersistent {
    background: #fff url(../img/btn.nonpersistent.bg.gif) 0 0 repeat-x;
    padding: 2px 5px 2px 5px;
    margin: 0 5px 0 5px;
}

.buttonLabel{
    color: #fff;
    font-weight: bold;
    font-size: 85%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-decoration:none;
    padding-top: 2px;
    padding-bottom: 2px;
}

.linkNavigation {
    text-decoration:none;
    font-size: 85%;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: #5a4d46 url(../img/menu.bg.gif) 0 0 repeat-x;
    border: 1px solid #fff;
    padding: 2px 5px 2px 5px;
    margin: 0 5px 0 5px;
}

.linkTab {
    text-decoration:none;
    font-size: 85%;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 1px solid #fff;
    padding: 2px 5px 2px 5px;
    margin-right: 10px;
}

.activeTab {
    color: #666;
    background: #fff url(../img/th.bg.inverse.gif) 0 0 repeat-x;
}

.inactiveTab {
    color: #fff;
    background: #fff url(../img/th.bg.gif) 0 0 repeat-x;
}

.linkTab:link {color: #555}
.linkTab:visited {color: #555}
.linkTab:hover {color: #000}
.linkTab:active {color: #aaa}

.linkTabActive:link {color: #555}
.linkTabActive:visited {color: #555}
.linkTabActive:hover {color: #000}
.linkTabActive:active {color: #aaa}

.linkNavigation:link {color: #fff}
.linkNavigation:visited {color: #fff}
.linkNavigation:hover {color: #ccc}
.linkNavigation:active {color: #aaa}


/* Forms
----------------------------------------------- */

.form {}

.formHead {
    text-align: left;
    background: #fff url(../img/th.bg.inverse.gif) 0 0 repeat-x;
    font-size: 85%;
    font-weight: bold;
    color: #555;
    padding-left: 13px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.formFields {
    padding-top: 10px;
    padding-bottom: 10px;
}

.formFieldsWideLabels {
    padding-top: 10px;
    padding-bottom: 10px;
}

.formControls {
    background: #c2bcaf url(../img/th.bg.gif) 0 0 repeat-x;
    padding: 5px;
}

.entry {
    padding-top: 3px;
    padding-bottom: 3px;
}

.entry .label {
	float: left;
    padding-top: 1px;
    padding-right: 2%;
    font-size: 85%;
    width: 10%;
	text-align: right;
}

.entry .output {
    padding-top: 1px;
    text-align: left;
    font-size: 85%;
}

.entry .input {
    text-align: left;
}

.formFieldsWideLabels .entry .label {
    width: 20%;
}

.formControlsWideLabels .entry .label {
    width: 20%;
}

.formTable {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
}

.formTable .entryColumn {
}

.formTable .entryColumn .label {
    margin-left: 15px;
    margin-right: 5px;
    font-size: 85%;
}

.formTable .entryColumn .input {
}

.formTable .formFooter {
    background: #c2bcaf url(../img/th.bg.gif) 0 0 repeat-x;
    padding: 5px;
}

.errorDiv {
    background: #fff url(../img/input.error.bg.gif) 0 0 no-repeat;
}

/* Directory Browser
----------------------------------------------- */

.directoryPathPanel {
    width: auto;
    background: #fff url(../img/th.bg.inverse.gif) 0 0 repeat-x;
    padding-left: 11px;
}

.directoryPathPanel .directoryButton {
	font-weight: bold;
    color: #fff;
	font-size: 85%;
	padding: 2px;
	border-style: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: #fff url(../img/menu.bg.gif) 0 0 repeat-x;
}

.directoryPathPanel .directorySeparator {
	font-weight: bold;
	color: #888;
	padding: 2px;
 	border-style: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}


/* Generic Lists
----------------------------------------------- */

.datatable {
    padding: 0;
    margin: 0;
    font-size: 85%;
    width: 100%;
    border-collapse: separate;
}

.topLeftBottomBorder {
    border-top: 1px solid #C3BBB6;
    border-left: 1px solid #C3BBB6;
    border-bottom: 1px solid #C3BBB6;
}

.rightBorder {
    border-right: 1px solid #C3BBB6;
}

.leftBorder {
    border-left: 1px solid #C3BBB6;
}

.topBorder {
    border-top: 1px solid #C3BBB6;
}

.bottomBorder {
    border-bottom: 1px solid #C3BBB6;
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}

.datatable .rowOdd {
    background-color: #fff;
}

.datatable .rowEven {
    background-color: #eae8e5;
}

.datatable .sortableHeader {
    white-space: nowrap;
    background: #fff url(../img/th.bg.gif) 0 0 repeat-x;
    text-align: center;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.datatable .regularHeader {
    white-space: nowrap;
    background: #fff url(../img/th.bg.gif) 0 0 repeat-x;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.datatable .defaultColumn {
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

.datatable .onePercentColumn{
    width: 1%;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

.datatable .fivePercentColumn {
    width: 5%;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}
.datatable .tenPercentColumn {
    width: 10%;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}
.datatable .twentyPercentColumn {
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

.pager {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background: #fff url(../img/th.bg.gif) 0 0 repeat-x;
    text-align: center;
}
.pager .pagerIconColumn {
    width: 10%;
}
.pager .pagerTextColumn {
    width: 60%;
}

/* Workspace switcher
-----------------------------------------------*/

#workspaceSwitcher {
    display: inline;
}

#workspaceSwitcher .workspaceSwitcherCombobox {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 75%;
    color: #C7B299;
    font-weight: bold;
    vertical-align: top;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #362f2d;
}

#workspaceSwitcher .workspaceSwitcherLabel {
    color: #fff;
    font-weight: bold;
    font-size: 75%;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}




