#userControl {
	text-align: right;
}

#userControl .userControlLabel {
	color: #fff;
    font-weight: bold;
    font-size: 75%;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

#userControl .userControlInput {
    background: #fff url(../img/input.bg.gif) 0 0 no-repeat;
    font-size: 75%;
    padding: 1px;
    margin: 0;
    border: 0;
    font-family: Andale Mono, Courier New, monospace;
}

#userControl .userControlLink {
    font-weight: bold;
    font-size: 75%;
	color: #C7B299;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
