a:active,a:link,a:visited,a:hover {
    color:#0D5798;    
}

.menuButton {
	background-color:#8CAFCD;
	padding-top:10px;
	padding-bottom:10px;
}
.menuButton a {
    font-weight:bold;
    text-decoration:none;
	padding-left:25px;
	padding-right:25px;
}
.menuButton a:active,.menuButton a:link,.menuButton a:visited {
	font-family:Arial,sans-serif;
	background-color:#8CAFCD;
	color: white;
	border-right: 1px solid white;
}
.menuButton a:hover {
	font-family:Arial,sans-serif;
    background-color: white;
    color:#8CAFCD;
}

.actionButton {
	width:100%;
	text-align:center;
}
.tableControl {
	width:100%;
	text-align:right;
}
.actionButton a, .tableControl a {
	font-family:Arial,sans-serif;
	font-weight:bold;
	color: #578BB8;
	border: 1px solid #578BB8;
	text-decoration:none;
	padding:5px;
}
.actionButton a:hover, .tableControl a:hover {
	color: white;
	background-color: #578BB8;
}

h1 {
	font-family:Arial,sans-serif;
	color:#578BB8;
	font-size:1.6em;
}

body {
	margin:0px;
	font-family:Arial,sans-serif;
	color: #616161;
}

.body {
	padding: 30px;
}


table {
	width: 100%;
	margin-bottom: 20px;
}
th {
	background-color:#578BB8;
	color:white;
	width:30px;
	font-family:Arial,sans-serif;
	padding:5px;
	
}
td {
	background-color:#F0F0F0;
	text-align:center;
}
.narrow {
	width:20%;
}
.wide {
	width:80%;
}
.first td {
	background-color:#F0F0F0;
}
.second td {
	background-color:white;
}

.dialog 
{
	padding: 15px;
	background-color:#F0F0F0;
	margin:20px;
	
}
.dialog label{
	width: 120px;
	font-weight: bold;
}
.dialog .textfield {
	width: 180px;
	margin-bottom: 5px;
}

.message {
	border: 1px solid #FFCC00;
	padding: 5px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#F0F0F0;
}

.prop {
	padding: 5px;
}
.prop .name {
	font-weight:bold;
	text-align:left;
	width:110px;
}
.prop .value {
	text-align:left;
	width:200px;
}
.value input {
	width:190px;
}
.prop .errors {
	color: red;
	text-align:left;
}
