jboss.home = /Applications/jboss-4.2.1.GA
tomcat.home = /Applications/apache-tomcat-6.0
#jboss.home = C:\\jboss-4.2.1.GA
#tomcat.home = C:\\Tomcat-6.0
version = 2.0
patchlevel = 0.BETA1
#validate.xml=true

# Compiled Seam artifacts (JARs, documentation, etc.) will be copied to this directory if specified,
# otherwise ../jboss-seam-<timestamp>.<randomnumber>/ is used
#dist.dir=../jboss-seam-dist