/* Main menu
----------------------------------------------- */

.mainMenuContainer {
    background-color: white;
}

.mainMenuHeader {
    background: #fff url(../img/th.bg.inverse.gif) 0 0 repeat-x;
    height: 30px;
    margin-top: 5px;
}

.mainMenuFooter {
    background: #d6d5c8 url(../img/th.bg.gif) 0 0 repeat-x;
    height: 35px;
    margin-top: 5px;
}

#mainMenu .level1 {
}

#mainMenu .level1Body {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
}

#mainMenu .level1Marker {
    display: none;
}

#mainMenu .level1Link {
    font-weight: bold;
    color: #d75525;
    font-size: 100%;
    text-decoration: none;
}

#mainMenu .level1Link:hover {color: #666}

#mainMenu .level1Children {
    margin-left: 10px;
}

#mainMenu .level2 {
    padding-top: 2px;
    padding-bottom: 2px;
}

#mainMenu .level2Marker {
    display: none;
}

#mainMenu .level2Link {
    font-size: 85%;
    font-weight: bold;
    color: #d75525;
    text-decoration: none;
    white-space: nowrap;
}

#mainMenu .level2Link:hover {color: #666}

#mainMenu .level3 {}

#mainMenu .level3Marker {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 80%;
    color: #d75525;
}

#mainMenu .level3Link {
    font-size: 80%;
    color: #d75525;
    text-decoration: none;
    white-space: nowrap;
}

#mainMenu .level3Link:hover {color: #666}


