a:active, a:link, a:visited {
	color: #0D5798;    
}

a:hover {
	color: #8CAFCD;
}

input, textarea {
	border: 1px solid #BBBBBB;
	font-size: 10px;
	background: #F0F8FF;
	color: black;
}

input[type='submit'], input[type='button'] {
	background: #4477AA;
	color: white;
	margin: 5px;
	border-color: gray;
}

.errorImg {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
.errorMsg {
  display: block;
  margin: 5px;
  padding: .1em;
}


.error {
  color: red;
  border: solid red;
  padding: .4em;
  margin: 10px
}

.formBorderHighlight{
    vertical-align: top; /*width: 100%;*/
    border: 1px solid #bed6f8;
    padding: 5px;
}
.menuButtons {
   font-size: 12px;
   font-weight: bold;
   border-colour: #bed6f8;
   background-color: #BED6F8;
   background-position: top left;
  
}
.menuButtons a {
    font-size: 11px;
    colour: #000000;
    font-weight: bold;
    font-family: Arial, Verdana, sans-serif;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}

.searchResults {
     border-top: 1px solid #bed6f8;
      border-bottom:1px solid #bed6f8;
     border-left:1px solid #bed6f8;
     border-right:1px solid #bed6f8;
     padding: 5px;

}
.leftMenu {
   padding: 5px;
   vertical-align: middle;
   text-align: left;
   background-color: transparent;
}
.rightMenu{
   padding: 5px;
   vertical-align: middle;
   text-align: right;
   background-color: transparent;
}
.menuButtons a:hover {
	font-family: Arial,sans-serif;
    background-color: white;
    color:  #0066ff; /*#8CAFCD*/
}

.loginout {
	font-family: Arial,sans-serif;
	text-align: right;
	padding-right: 20px;
	padding-top: 5px;
	font-size: 0.85em;
}
.loginout a {
	text-decoration: none;
}

.footer {
	text-align: center;
	font-size: 0.8em;
}

.actionButtons {
	width: 100%;
	text-align: left;
	padding-top: 10px;
}

.tableControl, .actionButtons {
	width: 100%;
    font-size:11px;
}

.tableControl{
	width: 100%;
	text-align: right;
	padding-top: 15px;
}
.iceDatTbl{
  margin:0px ;
}
.iceDataTblOutline {
    width: 98%;
}
.iceTblHeader {
  font-size:11px;
   color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;

}
/* data tables are rendered with alternating row colors */
.iceTblRow1 {
    background-color: #FFFFFF;
}

.iceTblRow2 {
    background-color: #eeeeee;
}
.allcols, .column1, .column2, .column3, .column4, .column5, .column6, .column7, .column8, .column9, .column10{
   font-size:11px;
   color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
   }
.dataScrollerTable {
  
}

h1 {
	font-family: Arial,sans-serif;
	color: #578BB8;
	font-size: 1.6em;
	margin-top: 0;
}

body {
	margin: 0px;
	font-family: Arial,sans-serif;
	color: #616161;
	font-size: 11px;
}

.body {
	padding: 30px;
}


table {
	width: 100%;
}
th {
	background-color: #bed6f8;
	color: white;
	font-family: Arial,sans-serif;
	padding: 5px;
	
}
td {
	background-color: transparent;
	text-align: center;
}
.narrow {
	width: 20%;
}
.wide {
	width: 80%;
}
.first td {
	background-color: #F0F0F0;
}
.second td {
	background-color: white;
}

.dialog 
{
	padding: 15px;
	background-color: #F0F0F0;
	margin: 10px;	
}
.dialog table
{
	width: auto;
}

.columnHeader:link, .columnHeader:visited, .columnHeader:active
{
       font-size: 11px;
	color: #578BB8;
	text-decoration: none;
}

.columnHeader:hover
{
    color: white;
}

.message {
	border: 1px solid #FFCC00;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #F0F0F0;
}

.prop {
	padding: 5px;
        display: block;
       
}
.prop .name {
	font-weight: bold;
	text-align: left;
	width: 155px;
        float: left;
}
.prop .value {
	text-align: left;      
}

.prop .required{
        color: red;
        text-align: left;	
}
.prop .errors {
	color: red;
	text-align: left;
}

.errors input {
	border: 1px solid red;
}

.contentLayoutGridStyleLogin {
    width: 280px; /* fixed height of content demos*/  
}


.icePageNorth {
    font-weight: bold;
    height: 20px;
    background-color: #cccccc;
    padding: 5px;
    text-align: center;
}

.calendarGridColumn {
    width: 50%;
    vertical-align: top;
    text-align: left;
}
/*
  Calendar Styles
 */

.iceCalInput {
    width: 90px;
}

.progressBarColumn {
    vertical-align: top;
    text-align: left;
}

.tabbedContainerHeaderControl {
    color: #ffffff;
    vertical-align: middle;
    font-weight: bold;
    font-family: tahoma, sans-serif;
    font-size: 14px;
    background: url( "../img/sidebox_bottom.gif" ) transparent repeat-x bottom left;
    height: 29px;
    white-space: nowrap;
   width: 25px;
    text-align: left;
}

.iceSelInpDate {
    width: 90px;
}
