<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="Seam Unit Tests" verbose="2" parallel="false">
   <test name="Core">
     <classes>
       <class name="org.jboss.seam.test.CoreTest"/>
       <class name="org.jboss.seam.test.InitializationTest"/>
       <class name="org.jboss.seam.test.PhaseListenerTest"/>
       <class name="org.jboss.seam.test.InterceptorTest"/>
       <class name="org.jboss.seam.test.ComponentTest"/>
       <class name="org.jboss.seam.test.ContextTest"/>
       <class name="org.jboss.seam.test.PhaseListenerTest"/>
       <class name="org.jboss.seam.test.RemotingTest"/>
       <class name="org.jboss.seam.test.MethodExpressionParserTest"/>
       <class name="org.jboss.seam.test.SecurityTest"/>
       <class name="org.jboss.seam.test.InterpolatorTest"/>
       <class name="org.jboss.seam.test.DependencyTest"/>
     </classes>
   </test>
</suite>
