<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>In-depth Explanation</title>
	<link href="css/trailblazer_main.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="main">
  <div class="trail">
    <div class="numbox">1</div>
    <h2>What is JBoss Seam</h2>
    <img src="img/header_line.gif" />
    
    <p><center><form><INPUT type="button" value="Close Window" onClick="window.close()"></form></center></p>
    
    <p>Compared with traditional web development technologies, the JBoss Seam only requires a fraction of the code, needs very little XML configuration files, and eliminates a whole class of bugs. In technical terms, the Seam stack allows us to write the entire application using plain old Java objects (POJOs) and simple XHTML. There is no more boiler plate code and no more trivial multi-layer abstraction / delegation. Seam ties together EJB 3.0 business components with JavaServer Faces (JSF) front-end under a consistent and stateful component model. In this sample, we use Facelets for JSF pages. Facelets allows us to write XHTML page segments and assemble them in a template.</p>
				
    <p>Just like all JBoss software products, this entire software stack is free. The full source code of this hotel booking application is available in the <code>examples/booking</code> directory of the <a href="http://www.jboss.com/products/list/downloads#seam">Seam source code distribution</a>. Please read the <a href="readme.txt">README</a> file for building instructions. You can learn more about the JBoss Seam framework in the <a href="http://docs.jboss.com/seam/reference/en/html/index.html">Seam documentation</a>. A 10-minute <a target="_blank" href="http://docs.jboss.com/TrailBlazer/seam-booking/Seam.htm">flash demo on how to build a Seam web application from ground up</a> is also available.</p>

<p><center><form><INPUT type="button" value="Close Window" onClick="window.close()"></form></center></p>

  </div>
</div>

</body>
</html>
