<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>In-depth Explanation</title>
	<link href="css/trailblazer_main.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="main">
  <div class="trail">
    <div class="numbox">2</div>
    <h2>What happens when you login?</h2>
    <img src="img/header_line.gif" />
    
    <p><center><form><INPUT type="button" value="Close Window" onClick="window.close()"></form></center></p>
    
    <p>The login page is formated as a regular XHTML form. The form uses the <code>#{user}</code> symbol to represent the <code>User</code> entity bean and the <code>#{login}</code> symbol to represent the <code>LoginAction</code> session bean. Both beans are EJB 3.0 POJOs managed by Seam.</p>

<code class="block">
&lt;div>
    &lt;h:outputLabel for="username">Login Name&lt;/h:outputLabel>
    &lt;h:inputText id="username" value="#{user.username}" />
&lt;/div>
&lt;div>
    &lt;h:outputLabel for="password">Password&lt;/h:outputLabel>
    &lt;h:inputSecret id="password" value="#{user.password}" />
&lt;/div>

... ...

&lt;div class="buttonBox">
    &lt;h:commandButton action="#{login.login}" 
                     value="Account Login" class="button" />
&lt;/div>
</code>

<p>The <code>User</code> bean is mapped to the <code>#{user}</code> bean in JSF via the <code>@Name</code> annotation. The <code>username</code> and <code>password</code> bean properties are mapped to the user input fields in the XHTML form.</p>

<code class="block">
@Entity
@Name("user")
@Scope(SESSION)
public class User implements Serializable {
   private String username;
   private String password;
   private String name;

   @NotNull
   @Length(min=5, max=15)
   public String getPassword() {
      return password;
   }
   public void setPassword(String password) {
      this.password = password;
   }
   
   @Id
   @Length(min=5, max=15)
   public String getUsername () {
      return username;
   }
   public void setUsername (String username) {
      this.username = username;
   }

    // ... ...
}
</code>

<p>The <code>LoginAction</code> is an EJB 3.0 session bean and it is mapped to the <code>#{login}</code> symbol in the JSF page via the <code>@Name</code> annotation by Seam. So, the <code>LoginAction.login()</code> method is invoked when the "login" button is clicked. This bean is "stateless" since it only has one-time transactional methods.</p>

<code class="block">
@Stateless
@Name("login")
@Interceptor(SeamInterceptor.class)
public class LoginAction implements Login {
   
   @In @Out
   private User user;
   
   @PersistenceContext
   private EntityManager em;
   
   @In
   private Context sessionContext;
   @In
   private FacesContext facesContext;

   public String login() {
      List &lt;User> results = em.createQuery(
        "from User where username=:username and password=:password")
            .setParameter("username", user.getUsername())
            .setParameter("password", user.getPassword())
            .getResultList();
      
      if ( results.size()==0 ) {
         facesContext.addMessage(null, new FacesMessage("Invalid login"));
         return "login";
      } else {
         user = results.get(0);
         sessionContext.set("loggedIn", true);         
         return "main";
      }
   }
}
</code>

<p>The <code>@In</code> annotation in the <code>LoginAction</code> session bean injects the <code>User</code> entity bean and the HTTP session <code>Context</code> / <code>FacesContext</code> system objects. The <code>@Out</code> annotation indicates the <code>LoginAction</code> bean can also modify the <code>User</code> object managed by Seam and make the altered instance available to other session beans / JSF pages.</p>

<p><center><form><INPUT type="button" value="Close Window" onClick="window.close()"></form></center></p>

  </div>
</div>

</body>
</html>
