<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>In-depth Explanation</title>
	<link href="css/trailblazer_main.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="main">
  <div class="trail">
    <div class="numbox">5</div>
    <h2>Contextual conversations</h2>
    <img src="img/header_line.gif" />
    
    <p><center><form><INPUT type="button" value="Close Window" onClick="window.close()"></form></center></p>

<p>Seam can maintain multiple conversations with the same user. Each conversation has its own set of states and is independent of other conversations. In this sample application, you can use the "New Workspace" link to create a new contextual conversation. As you move between conversations, you can see that Seam remembers the state for each one.</p>

<p>As we have seen before, the hotel search action (<code>find()</code> method) starts the conversation in the stateful <code>HotelBookingAction</code> bean.

<code class="block">
@Stateful
@Name("hotelBooking")
@Interceptor(SeamInterceptor.class)
@Conversational(ifNotBegunOutcome="main")
@LoggedIn
public class HotelBookingAction implements HotelBooking, Serializable {

  // ... ...
  
  @Begin
  public String find() {
    // ... ...
  }
}
</code>

<p>To start another conversation, you simply load the <code>main.xhtml</code> page, which invokes the above code. You can load <code>main.xhtml</code> either in the current window or in a new browser window / tab. The result is that a new conversation is initiated and all the available conversations are stored in the Seam <code>#{conversationList}</code> variable. The code snippet in the <code>conversations.xhtml</code> file, which displays all available conversations for this user, is as follows.</p>

<code class="block">
&lt;h:dataTable value="#{conversationList}" var="entry">
  &lt;h:column>
    &lt;h:commandLink action="#{entry.select}" value="#{entry.description}"/>
    &nbsp;
    &lt;h:outputText value="[current]" rendered="#{entry.current}"/>
  &lt;/h:column>
  &lt;h:column>
    &lt;h:outputText value="#{entry.startDatetime}">
      &lt;f:convertDateTime type="time" pattern="hh:mm"/>
    &lt;/h:outputText>
    -
    &lt;h:outputText value="#{entry.lastDatetime}">
      &lt;f:convertDateTime type="time" pattern="hh:mm"/>
    &lt;/h:outputText>
  &lt;/h:column>
&lt;/h:dataTable>
</code>


<p><center><form><INPUT type="button" value="Close Window" onClick="window.close()"></form></center></p>

  </div>
</div>

</body>
</html>