<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"    
    xmlns="http://java.sun.com/xml/ns/javaee"    
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">   
  
   <!-- Ajax4jsf filter not needed, Seam Filter installs it for us -->
    
  <context-param>		
    <param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>		
    <param-value>org.jboss.seam.ui.facelet.SeamFaceletViewHandler</param-value>	
  </context-param>        
  
  <!-- Seam -->       
  <listener>        
    <listener-class>org.jboss.seam.servlet.SeamListener</listener-class>    
  </listener>    

  <filter>
    <filter-name>Seam Filter</filter-name>
    <filter-class>org.jboss.seam.web.SeamFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>Seam Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>Seam Resource Servlet</servlet-name>
    <servlet-class>org.jboss.seam.servlet.ResourceServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Seam Resource Servlet</servlet-name>
    <url-pattern>/seam/resource/*</url-pattern>
  </servlet-mapping>   
  
  <!-- JSF and Facelets -->        
  <context-param>        
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>        
    <param-value>client</param-value>    
  </context-param>    
  <context-param>        
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>        
    <param-value>.xhtml</param-value>    
  </context-param>    
  <context-param>        
    <param-name>facelets.DEVELOPMENT</param-name>        
    <param-value>true</param-value>    
  </context-param>    
  
  <!-- Faces Servlet -->
  <servlet>        
    <servlet-name>Faces Servlet</servlet-name>        
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>        
    <load-on-startup>1</load-on-startup>    
  </servlet>        
  <servlet-mapping>        
    <servlet-name>Faces Servlet</servlet-name>        
    <url-pattern>*.seam</url-pattern>    
  </servlet-mapping>        
  
  <!-- MyFaces -->    
  <!--    
  <listener>        
    <listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>    
  </listener>    
  -->        
  
  <!-- JSF RI --> 
  <listener>        
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>    
  </listener>        
  
  <!-- Glassfish EJB3 names -->
  <ejb-local-ref>              
    <ejb-ref-name>jboss-seam-glassfish/AuthenticatorAction/local</ejb-ref-name>           
    <ejb-ref-type>Session</ejb-ref-type>
    <local-home/>
    <local>org.jboss.seam.example.booking.Authenticator</local>               
    <ejb-link>AuthenticatorAction</ejb-link>        
  </ejb-local-ref>	  
  
  <ejb-local-ref>       
    <ejb-ref-name>jboss-seam-glassfish/BookingListAction/local</ejb-ref-name>       
    <ejb-ref-type>Session</ejb-ref-type>       
    <local>org.jboss.seam.example.booking.BookingList</local>       
    <ejb-link>BookingListAction</ejb-link>    
  </ejb-local-ref>    
  
  <ejb-local-ref>       
    <ejb-ref-name>jboss-seam-glassfish/RegisterAction/local</ejb-ref-name>       
    <ejb-ref-type>Session</ejb-ref-type>       
    <local>org.jboss.seam.example.booking.Register</local>       
    <ejb-link>RegisterAction</ejb-link>    
  </ejb-local-ref>    
  
  <ejb-local-ref>       
    <ejb-ref-name>jboss-seam-glassfish/ChangePasswordAction/local</ejb-ref-name>       
    <ejb-ref-type>Session</ejb-ref-type>       
    <local>org.jboss.seam.example.booking.ChangePassword</local>       
    <ejb-link>ChangePasswordAction</ejb-link>    
  </ejb-local-ref>    
  
  <ejb-local-ref>       
    <ejb-ref-name>jboss-seam-glassfish/HotelBookingAction/local</ejb-ref-name>       
    <ejb-ref-type>Session</ejb-ref-type>       
    <local>org.jboss.seam.example.booking.HotelBooking</local>       
    <ejb-link>HotelBookingAction</ejb-link>    
  </ejb-local-ref>    
  
  <ejb-local-ref>       
    <ejb-ref-name>jboss-seam-glassfish/HotelSearchingAction/local</ejb-ref-name>       
    <ejb-ref-type>Session</ejb-ref-type>       
    <local>org.jboss.seam.example.booking.HotelSearching</local>       
    <ejb-link>HotelSearchingAction</ejb-link>    
  </ejb-local-ref>    
    
  <ejb-local-ref>       
    <ejb-ref-name>jboss-seam-glassfish/TransactionListener/local</ejb-ref-name>       
    <ejb-ref-type>Session</ejb-ref-type>       
    <local>org.jboss.seam.core.LocalTransactionListener</local>       
    <ejb-link>TransactionListener</ejb-link>    
  </ejb-local-ref>
  
  <session-config>
    <session-timeout>10</session-timeout> 
  </session-config>   
  
</web-app>
