<!DOCTYPE events PUBLIC
  "-//JBoss/Seam Events Configuration DTD 1.1//EN"
  "http://jboss.com/products/seam/events-1.1.dtd">

<events>
   <event type="issueUpdate">
      <action expression="#{issueFinder.refresh}"/>
      <action expression="#{projectFinder.refresh}"/>
   </event>
   <event type="projectUpdate">
      <action expression="#{projectFinder.refresh}"/>
   </event>
</events>