<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

   <!-- Seam -->

   <listener>
      <listener-class>org.jboss.seam.servlet.SeamListener</listener-class>
   </listener>

    <context-param>
        <param-name>org.jboss.seam.core.init.myFacesLifecycleBug</param-name>
        <param-value>@myFacesLifecycleBug@</param-value>
    </context-param>

   <!-- 120 second conversation timeout -->
   <context-param>
      <param-name>org.jboss.seam.core.manager.conversationTimeout</param-name>
      <param-value>120000</param-value>
   </context-param>

   <!-- Defines a Seam-managed Hibernate session -->
   <context-param>
      <param-name>org.jboss.seam.core.init.managedSessions</param-name>
      <param-value>bookingDatabase</param-value>
   </context-param>

   <!-- Bootstrap Hibernate inside Java EE -->
   <context-param>
      <param-name>org.jboss.seam.core.init.componentClasses</param-name>
      <param-value>org.jboss.seam.core.Hibernate</param-value>
   </context-param>

</web-app>
