<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="Seam Core Tests" verbose="2" parallel="false">
   <test name="Unit">
     <classes>
       <class name="org.jboss.seam.test.unit.CoreTest"/>
       <class name="org.jboss.seam.test.unit.InitializationTest"/>
       <class name="org.jboss.seam.test.unit.PhaseListenerTest"/>
       <class name="org.jboss.seam.test.unit.InterceptorTest"/>
       <class name="org.jboss.seam.test.unit.ComponentTest"/>
       <class name="org.jboss.seam.test.unit.ContextTest"/>
       <class name="org.jboss.seam.test.unit.PhaseListenerTest"/>
       <class name="org.jboss.seam.test.unit.RemotingTest"/>
       <class name="org.jboss.seam.test.unit.SecurityTest"/>
       <class name="org.jboss.seam.test.unit.InterpolatorTest"/>
       <class name="org.jboss.seam.test.unit.DependencyTest"/>
       <class name="org.jboss.seam.test.unit.SeamTestTest"/>
       <class name="org.jboss.seam.test.unit.MailTest"/>
       <class name="org.jboss.seam.test.unit.DataModelTest"/>
       <class name="org.jboss.seam.test.unit.PageflowTest"/>
       <class name="org.jboss.seam.test.unit.SeamMockELResolverTest" />
       <class name="org.jboss.seam.test.unit.PageActionsTest" />
       <class name="org.jboss.seam.test.unit.HomeTest" />
       <class name="org.jboss.seam.test.unit.NamespaceTest" />
     </classes>
   </test>
</suite>
