<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- Seam -->
   
    <listener>
        <listener-class>org.jboss.seam.servlet.SeamListener</listener-class>
    </listener>

    
    <!-- Propagate conversations across redirects -->

    <filter>
        <filter-name>Seam Redirect Filter</filter-name>
        <filter-class>org.jboss.seam.servlet.SeamRedirectFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Seam Redirect Filter</filter-name>
        <url-pattern>*.seam</url-pattern>
    </filter-mapping>
    
    <!-- Seam exception filter -->
    
    <filter>
        <filter-name>Seam Exception Filter</filter-name>
        <filter-class>org.jboss.seam.servlet.SeamExceptionFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>Seam Exception Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>    
    
    <filter>
        <filter-name>Seam Multipart Filter</filter-name>
        <filter-class>org.jboss.seam.servlet.SeamMultipartFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>Seam Multipart Filter</filter-name>
        <url-pattern>*.seam</url-pattern>
    </filter-mapping>

    <!-- MyFaces -->

    <listener>
        <listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>
    </listener>

    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>

    <context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>

    <!-- Faces Servlet -->

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.seam</url-pattern>
    </servlet-mapping>
    
    <!-- Content Servlet -->
    
    <servlet>
        <servlet-name>Content Servlet</servlet-name>
        <servlet-class>org.jboss.seam.example.seamspace.ContentServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Content Servlet</servlet-name>
        <url-pattern>/content/*</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>Seam Servlet Filter</filter-name>
        <filter-class>org.jboss.seam.servlet.SeamServletFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>Seam Servlet Filter</filter-name>
        <url-pattern>/content/*</url-pattern>
    </filter-mapping>      
    
    <!-- Captcha Servlet -->
    
    <servlet>
      <servlet-name>Captcha Servlet</servlet-name>
      <servlet-class>org.jboss.seam.servlet.CaptchaServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
      <servlet-name>Captcha Servlet</servlet-name>
      <url-pattern>/captcha</url-pattern>
    </servlet-mapping>
    
    <!-- Seam Remoting -->
    
    <servlet>
      <servlet-name>Seam Remoting</servlet-name>
      <servlet-class>org.jboss.seam.remoting.SeamRemotingServlet</servlet-class>
    </servlet>
  
    <servlet-mapping>
      <servlet-name>Seam Remoting</servlet-name>
      <url-pattern>/seam/remoting/*</url-pattern>
    </servlet-mapping>

</web-app>
