<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="Hibernate Booking" verbose="2" parallel="false">

   <test name="Hibernate Login">
     <classes>
       <class name="org.jboss.seam.example.hibernate.test.LoginTest"/>
     </classes>
   </test>
 
   <test name="Hibernate Booking">
     <classes>
       <class name="org.jboss.seam.example.hibernate.test.BookingTest"/>
     </classes>
   </test>
	
   <test name="Hibernate Change Password">
     <classes>
       <class name="org.jboss.seam.example.hibernate.test.ChangePasswordTest"/>
     </classes>
   </test>

</suite>