.teaserColumn {
    padding: 10px;
}

.teaserTitle {
    margin-bottom: 5px;
    font-weight: bold;
}

.teaserAuthorDate {
    text-align: right;
    font-size: 90%;
}

.teaserAuthor {
}

.teaserDate {
}

.teaserBody {
    line-height: 130%;
}