<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" 
                       "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
    <bean id="testBean" class="org.jboss.seam.example.spring.TestBean">
        <property name="name" value="Loaded from spring-beans.xml" />
    </bean>
</beans>
