<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:util="http://www.springframework.org/schema/util" xmlns:lds="http://icslib.wh.ldsglobal.net/schema/ldsutil"
        xmlns:seam="http://jboss.com/products/seam/spring"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
                            http://icslib.wh.ldsglobal.net/schema/ldsutil http://icslib.wh.ldsglobal.net/schema/ldsutil/spring-ldsutil-2.0.xsd
                            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
                            http://jboss.com/products/seam/spring http://jboss.com/products/seam/spring.xsd"
        default-lazy-init="true">

    <bean id="testBean" class="org.jboss.seam.example.spring.TestBean">
        <property name="name" value="Loaded from spring-beans.xml" />
    </bean>
    
    <bean id="singletonSpringStringStore" class="org.jboss.seam.example.spring.StringStore"/>

    <!--

    <bean id="requestSpringStringStore" class="org.jboss.seam.example.spring.StringStore" scope="request"/>

    <bean id="sessionSpringStringStore" class="org.jboss.seam.example.spring.StringStore" scope="session"/>

    -->

    <bean id="statelessSeamStringStore" class="org.jboss.seam.example.spring.StringStore" scope="seam.STATELESS"/>

    <bean id="methodSeamStringStore" class="org.jboss.seam.example.spring.StringStore" scope="seam.METHOD"/>

    <bean id="eventSeamStringStore" class="org.jboss.seam.example.spring.StringStore" scope="seam.EVENT"/>

    <bean id="pageSeamStringStore" class="org.jboss.seam.example.spring.StringStore" scope="seam.PAGE"/>

    <bean id="conversationSeamStringStore" class="org.jboss.seam.example.spring.StringStore" scope="seam.CONVERSATION"/>

    <bean id="sessionSeamStringStore" class="org.jboss.seam.example.spring.StringStore" scope="seam.SESSION"/>

    <bean id="applicationSeamStringStore" class="org.jboss.seam.example.spring.StringStore" scope="seam.APPLICATION"/>

    <bean class="org.jboss.seam.ioc.spring.SeamPostProcessorz"/>
</beans>
