<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="Hotel Booking" verbose="2" parallel="false">

   <test name="Login">
     <classes>
       <class name="org.jboss.seam.example.booking.test.LoginTest"/>
     </classes>
   </test>
	
   <test name="Booking">
     <classes>
       <class name="org.jboss.seam.example.booking.test.BookingTest"/>
     </classes>
   </test>
	
   <test name="Change Password">
     <classes>
       <class name="org.jboss.seam.example.booking.test.ChangePasswordTest"/>
     </classes>
   </test>
	
   <!--test name="Switch Conversation">
     <classes>
       <class name="org.jboss.seam.example.booking.test.SwitchConversationTest"/>
     </classes>
   </test-->
	
   <test name="Booking Unit">
     <classes>
       <class name="org.jboss.seam.example.booking.test.BookingUnitTest"/>
     </classes>
   </test>
	
</suite>