<entity-manager>
    <name>dvd</name>
    <jta-data-source>java:/DVDStoreDS</jta-data-source>
    <properties>
        <property name="hibernate.hbm2ddl.auto" value="create"/>
        <property name="hibernate.show_sql" value="true" />
        <property name="hibernate.dialect"  value="org.hibernate.dialect.MySQLDialect" />
    </properties>
</entity-manager>
