.formButton {
	background: #EAEAEA repeat-x;
	font-style: normal;
	font-family: sans-serif;
	text-decoration: none;
	padding: 2px;
	border: 1px solid #666666;
	color: #333333;
	height: 22px;
}

a {
	font-style: normal;
	font-family: tahoma;
	font-size: 12px;
}

div.header {
	font-style: normal;
	font-family: tahoma;
	font-size: 10px;
	width: 600px;	
	
}

div.body {
	font-style: normal;
	font-family: tahoma;
	font-size: 12px;
	width: 500px;
	text-align: left;	
}

div.footer {
	font-style: normal;
	font-family: tahoma;
	font-size: 10px;
	width: 600px;	
	text-align: center;
	padding: 25px;
}

div.formField {
	height: 30px;	
}