div.bidImage {
  float: left;
  width: 100px;
  padding: 8px 8px 8px 8px;
}

div.bidItem {
  float: left;
  padding: 8px 8px 8px 8px;
}

div.itemDetailRow {
  nowrap: true;
  margin-top: 4px;
  margin-bottom: 6px;
}

div.itemDetailRow label {
  float: left;
}

div.itemDetailRow div {
  margin-left: 220px;
  nowrap: true;
}

div.confirmBid {
  clear: both;
  border: 1px solid #ffdd00;
  padding: 4px 12px 4px 10px;
}

div.confirmBid input {
  margin-top: 12px;
}