<?xml version="1.0" encoding="UTF-8"?>
<web-app>   
      
    <!-- Ajax4jsf (must come first!) -->		   
    <filter>     
      <display-name>Ajax4jsf Filter</display-name>     
      <filter-name>ajax4jsf</filter-name>     
      <filter-class>org.ajax4jsf.Filter</filter-class>   
    </filter>	   
    <filter-mapping>     
      <filter-name>ajax4jsf</filter-name>     
      <url-pattern>*.seam</url-pattern>   
    </filter-mapping>   
    <context-param>     
      <param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>     
      <param-value>org.jboss.seam.ui.facelet.SeamFaceletViewHandler</param-value>   
    </context-param>        
    
    <!-- Seam -->           
    <listener>              
      <listener-class>org.jboss.seam.servlet.SeamListener</listener-class>        
    </listener>    

    <filter>
      <filter-name>Seam Filter</filter-name>
      <filter-class>org.jboss.seam.web.SeamFilter</filter-class>
    </filter>

    <filter-mapping>
      <filter-name>Seam Filter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <servlet>
      <servlet-name>Seam Resource Servlet</servlet-name>
      <servlet-class>org.jboss.seam.servlet.ResourceServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
      <servlet-name>Seam Resource Servlet</servlet-name>
      <url-pattern>/seam/resource/*</url-pattern>
    </servlet-mapping>     
    
    <!-- Faces Servlet -->    
    <servlet>              
      <servlet-name>Faces Servlet</servlet-name>              
      <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>              
      <load-on-startup>1</load-on-startup>        
    </servlet>    
    <!-- Faces Servlet Mapping -->    
    <servlet-mapping>              
      <servlet-name>Faces Servlet</servlet-name>              
      <url-pattern>*.seam</url-pattern>        
    </servlet-mapping>
    <!-- JSF parameters -->  
    <context-param>              
      <param-name>javax.faces.STATE_SAVING_METHOD</param-name>              
      <param-value>client</param-value>        
    </context-param>    
    <context-param>        
      <param-name>javax.faces.DEFAULT_SUFFIX</param-name>        
      <param-value>.xhtml</param-value>    
    </context-param>    
    <context-param>        
      <param-name>facelets.DEVELOPMENT</param-name>        
      <param-value>true</param-value>    
    </context-param>  
    
    <!-- MyFaces -->    
    <listener>        
      <listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>    
    </listener>     
    
</web-app>
